<div class="list row">
    <div class="col-md-8">
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Search by title"
          [(ngModel)]="title"
        />
        <div class="input-group-append">
          <button
            class="btn btn-outline-secondary"
            type="button"
            (click)="searchTitle()"
          >
            Search
          </button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h4>Tasks List</h4>
        <table>
          <thead>
            <tr>
              <th>Title</th>
              <th>Priority</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let task of todoList; let i = index" 
                [class.active]="i == currentIndex"
                (click)="setActiveTask(task, i)">
              <td>{{ task.title }}</td>
              <td>{{ task.priority }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-6">
      <app-task-details
        [viewMode]="true"
        [currentTask]="currentTask"
      ></app-task-details>
      </div>
    </div>
  </div>
